{% extends "website/base_fudepan.html" %}

{% block cssextra %}
<link href="/static/css/como_colaborar.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
<div class="clearfix with-navigation page-wrapper">
  <div class="page-wrapper">
    <div id="content">
      <div>
        <div style="float:left; width:340px; margin-top:20px;" class="panel-col-first">
          <h2 class="pane-title">¿Por qué Colaborar?</h2>
          <p>Somos un grupo de profesionales, estudiantes e investigadores altamente capacitados y comprometidos con la ciencia . Al ser una organización sin fines de lucro , no contamos con los recursos necesarios para financiar todos los proyectos. Es por ello que con tu ayuda podremos seguir realizando investigaciones en temas relacionados a bioinformática cuyos resultados generarán un impacto positivo en la sociedad.&nbsp;</p>
          <p>	&nbsp;</p>
          <p>	Tenemos como objetivo altruista encontrar nuevas respuestas a problemáticas biológicas como la búsqueda de nuevas vacunas mejoradas, la elaboración de herramientas para el tratamiento del SIDA, y la investigación de los virus que causan enfermedades endémicas, como la Fiebre Hemorrágica Argentina.</p>
          <p>	&nbsp;</p>
          <p>	Así mismo contamos con el certificado de calificación otorgado por la Agencia, mediante el cual la La ley 24.475 establece deducciones de la ganancia neta del ejercicio para quienes realicen donaciones a entidades sin fines de lucro que principalmente se dediquen a la investigación científica y tecnológica como la nuestra.&nbsp;</p>
        </div>

        <div style="float:left;width:600px; padding-top:20px; padding-left:40px; padding-right:40px;" class="panel-col-last">
          <h2 class="pane-title">¿Cómo colaborar?</h2>
          <div class="content">
            <p>
            <span style="font-size: 24px; font-weight: bold;" class="Apple-style-span">1. Participá en nuestros proyectos</span>
            </p>
            <p>Si te encuentras estudiando y/o ya terminaste alguna carrera relacionada, anímate a participar en nuestros proyectos, y sé parte de nuestro equipo.</p>
            <p>Para eso, completá el <a href="http://tinyurl.com/tesisbio" target="_blank">formulario</a> (el cual no involucra ningún compromiso) ya sea tanto para tesis como para colaboraciones independientes".</p>

            <p>
            <span style="font-size: 24px; font-weight: bold; color:#8DC63F;" class="Apple-style-span">2. Donaciones</span>
            </p>
            <p>Puedes colaborar con FuDePAN realizando donaciones en efectivo de manera periódica mediante aportes mensuales. También tienes la opción de hacer una donación por única vez; o, de igual manera, podrás colaborar con donaciones en especie y/o servicios. Estas donaciones pueden ser realizadas tanto por personas naturales como empresas.&nbsp;<strong>A continuación detallamos cada una:</strong>
            </p>
            <table cellspacing="5" cellpadding="5" style="width: 517px; color:white">
              <tbody>
                <tr>
                  <td style="width: 231px; ">
                    <h3>
                      <strong>a) Donaciones en efectivo &gt;Vía internet</strong>
                    </h3>
                    <div>
                      <p style="margin-bottom: 0cm">Tenemos medios seguros donde podrás realizar tus donaciones con total seguridad</p>
                      <p style="margin-bottom: 0cm">A través de <u>
                        <b>pagomiscuentas</b>
                      </u> o los cajeros BANELCO (Buscar en las secciones Donaciones/Fundaciones)</p>
                      <p style="margin-bottom: 0cm">Depósito o transferencias en la siguiente cuenta:</p>
                      <p style="margin-bottom: 0cm">Banco Macro - Cuenta Corriente Nº 3-394-0940175028-6</p>
                    </div>
                    <div>
                      &nbsp;</div>
                  </td>
                  <td style="width: 245px; ">
                    <h3>
                      b) Donaciones en especies:</h3>
                    <div>
                      <div>
                        <p style="margin-bottom: 0cm">&nbsp;</p>
                        <ul>
                          <li>Equipos informáticos</li>
                          <li>Donación de espacio (Alquiler de espacio para oficina y/o prácticas de laboratorio)</li>
                          <li>Auspicio de eventos</li>
                          <li>Prestación de servicios (Publicitarios, difusión)</li>
                        </ul>
                        <p style="margin-bottom: 0cm">&nbsp;</p>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td style="width: 231px; ">
                   
                      </a>
                    </div>
                    <div>
                      &nbsp;</div>
                    <div>
                      &nbsp;</div>
                  </td>
                  <td style="width: 245px; ">
                    <h3>
                      c) Donaciones/ empresas</h3>
                    <div>
                      Si eres parte directiva de una empresa y deseas recibir mayor información de cómo colaborar con nosotros envíanos un mail a
                      <strong>info@fudepan.org.ar</strong>
                    </div>
                    <div>&nbsp;</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- /.section, /#content -->
    <div class="clearfix"></div>

  </div>
</div>
{% endblock %}
