{% extends "website/base_fudepan.html" %}

{% block content %}
<div class="page-wrapper">
	<div class="section-contacto">
	  <div class="column" id="content">
	    <div class="section">
	      <div id="content-area">
	        <div class="panel-2col-stacked clear-block panel-display">
	          <div class="center-wrapper">
	            <div class="panel-col-first panel-panel">
	              <div class="inside">
	                <div class="panels_pane panel-pane pane-node">
	
	                  <h2 class="pane-title">Contacto</h2>
	                  <div class="pane-content">
	                    <div class="node node-type-webform node-promoted build-mode-full clearfix" id="node-143">
	                      <div class="content">
	                        <p>Puede contactarnos por correo electrónico, escribiéndonos a <a href="mailto:info@fudepan.org.ar">info@fudepan.org.ar</a>.</p>
                                <p>&nbsp;</p>
	                        <p>Puede también participar de nuestro <a href="http://www.facebook.com/groups/73774151536/">grupo en Facebook</a>.</p>
	                        
	                      </div>
	
	                    </div>
	                    <!-- /.node -->
	                  </div>
	
	
	                </div>
	              </div>
	            </div>
	
	            <div class="panel-col-last panel-panel">
	              <div class="inside">
	                <div class="panels_pane panel-pane pane-block pane-block-5">
	                  <h2 class="pane-title">TAGs</h2>
	                  <div class="pane-content">
	                    <div class="icon">
	                    </div>
	                    <ul>
	                      <li>
	                      <a href="/como-colaborar">¿Por qué colaborar?</a>
	                      </li>
	                      <li>
	                      <a href="/que-hacemos">¿Qué es la Bioinformática?</a>
	                      </li>
	                    </ul>
	                  </div>
	                </div>
	                <div class="panel-region-separator">
	                </div>
	                <div class="panels_pane panel-pane pane-block pane-block-4">
	                  <h2 class="pane-title">Avisos y Novedades</h2>
	                  <div class="pane-content">
	                    <h4>
	                      <strong>Iniciamos dos tesis en la Universidad Nacional de Rio Cuarto:</strong>
	                    </h4>
	                    <p>- <strong>
	                      <em>Licenciatura en Ciencias de la Computación</em>
	                    </strong> de <a target="_blank" href="/member/28">Franco Riberi</a>, para entender tendencia de uso de codones de RNA de transferencia.</p>
	                    <p>- <strong>
	                      <em>Analista en Computación</em>
	                    </strong> de <a target="_blank" href="/member/29">Facundo Muñoz</a>, para tornar el proyecto <a target="_blank" href="/projects/backbones-generator">bb-gen</a> a computación distribuida utilizando <a target="_blank" href="/projects/fud">FuD</a>.</p>
	                  </div>
	                </div>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
</div>
{% endblock %}
