{% extends "website/base_fudepan.html" %}

{% block cssextra %}
<link href="/static/css/nuestros_logros.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
<div class="section-nuestros-logros">
    <div class="clearfix with-navigation">
        <div class="page-wrapper">
            <div class="column" id="content">
                <div class="section">
                    <h1 class="title">Logros y un poco de historia</h1>
                    <div id="content-area">
                        <div class="views_view view view-logros view-id-logros view-display-id-page_1 view-dom-id-1">
                            <div class="view-header">
                                <div class="anchor">
                                    <span class="view">Ver </span>///&nbsp;<a href="/quienes-somos">Quienes Somos / Nuestros Valores</a>
                                </div>
                            </div>
                            <div class="view-content">
                                <table class="views-view-grid col-4" style="font-size: 0.875em;line-height: 1.286em;">
                                    <tbody>
                                        <tr class="row-1 row-first row-last">
                                            <td class="col-1 col-first">
                                                <div class="views-field-field-logro-year-value">
                                                    <span class="field-content">
                                                        <span class="date-display-single">2012</span>
                                                    </span>
                                                </div>
                                                <div class="views-field-field-logro-desc-value">
                                                    <div class="field-content">
                                                        <p>
                                                        <strong>Distinción a nivel nacional</strong>.Daniel Gutson, presidente de FuDePAN, fue distinguido con el premio TOYP (The Outstanding Young Persons of Argentina) edición 2012.
El evento organizado por la Cámara Argentina de Comercio (CAC) y la fundación Junior Chamber International Argentina (JCI Argentina) reconoce a diez jóvenes de todo el país que se destaquen debido a su labor comunitaria y aporte a la sociedad. Daniel fue premiado en la categoría de "Desarrollo Científico Tecnológico".</p>
                                                    </div>
                                                </div>

                                                <div class="views-field-field-logro-image-fid">
                                                    <span class="field-content">
                                                    </span>
                                                </div>
                                            </td>

                                            <td class="col-2 col-first">
                                                <div class="views-field-field-logro-year-value">
                                                    <span class="field-content">
                                                        <span class="date-display-single">2011</span>
                                                    </span>
                                                </div>
                                                <div class="views-field-field-logro-desc-value">
                                                    <div class="field-content">
                                                        <p>
                                                        <strong>Reconocimiento Nacional</strong>. FuDePAN obtiene el Certificado de Calificación otorgado por la Agencia Nacional de Promoción Científica y Tecnológica del Ministerio de Ciencia, Tecnología e Innovación Productiva.<br>
                                                        &nbsp;<br>
                                                        <strong>Distinción.</strong> El presidente de FuDePAN, Daniel Gutson, fue distinguido como uno de los <strong>“</strong>
                                                        <strong>Diez</strong>
                                                        <strong> </strong>
                                                        <strong>Jóvenes</strong>
                                                        <strong> </strong>
                                                        <strong>Sobresalientes</strong>
                                                        <strong> </strong>
                                                        <strong>del</strong>
                                                        <strong> </strong>
                                                        <strong>Año</strong>
                                                        <strong>”</strong>, edición 2011. En el evento organizado por la Cámara de Comercio de Córdoba, se lo destacó por su trayectoria profesional y sus logros en la Fundación.</p>
                                                    </div>
                                                </div>

                                                <div class="views-field-field-logro-image-fid">
                                                    <span class="field-content">
                                                    </span>
                                                </div>
                                            </td>
                                            <td class="col-3">

                                                <div class="views-field-field-logro-year-value">
                                                    <span class="field-content">
                                                        <span class="date-display-single">2010</span>
                                                    </span>
                                                </div>

                                                <div class="views-field-field-logro-desc-value">
                                                    <div class="field-content">
                                                        <p>
                                                        <b>Primer&nbsp;proyecto</b>
                                                        <b> </b>
                                                        <b>final</b>
                                                        <b> </b>
                                                        <b>de</b>
                                                        <b> </b>
                                                        <b>ingeniería</b>. Desde FuDePAN se dirigió un proyecto final de ingeniería de la Universidad Nacional Tecnológica -Facultad Regional Buenos Aires (UTN-Bs. As.). El trabajo se tituló “FDMDE, Fudepan's discrete molecular dynamics engine”</p>
                                                        <p style="margin-bottom: 0cm">
                                                        <b>Primer</b>
                                                        <b> </b>
                                                        <b>Subsidio.</b> Se obtuvo un subsidio del Fondo Biotecnológico de Córdoba (FONBIO). En el proyecto participaron FuDePAN, la Facultad de Matemática, Astronomía y Física (FaMAF) de la Universidad Nacional de Córdoba, Taller Technologies y la Secretaría de Ciencia y Tecnología (SeCyT). &nbsp;</p>
                                                    </div>
                                                </div>

                                                <div class="views-field-field-logro-image-fid">
                                                    <span class="field-content">
                                                    </span>
                                                </div>
                                            </td>
                                            <td class="col-4">

                                                <div class="views-field-field-logro-year-value">
                                                    <span class="field-content">
                                                        <span class="date-display-single">2009</span>
                                                    </span>
                                                </div>

                                                <div class="views-field-field-logro-desc-value">
                                                    <div class="field-content">
                                                        <p>
                                                        <b>Primer</b>
                                                        <b> </b>
                                                        <b>Pasantía</b>. Fue un convenio entre INTEL, CONICET y FuDePAN. La pasantía fue renovada por dos períodos más y posteriormente se convirtió en un proyecto final de ingeniería.</p>
                                                        <p style="margin-bottom: 0cm">
                                                        <b>Primer</b>
                                                        <b> </b>
                                                        <b>Tesis</b>
                                                        <b> </b>
                                                        <b>de</b>
                                                        <b> </b>
                                                        <b>Licenciatura</b>
                                                        <b> </b>
                                                        <b>en</b>
                                                        <b> </b>
                                                        <b>Ciencias</b>
                                                        <b> </b>
                                                        <b>de</b>
                                                        <b> </b>
                                                        <b>la</b>
                                                        <b> </b>
                                                        <b>Computación.</b>
                                                        <font color="#ff0000"> </font>Tuvo lugar en la Universidad Nacional de Rio Cuarto (UNRC) y se tituló: <font color="#000000">"A Framework for Small Distributed Projects and a Protein Clusterer Application" (</font>Una plataforma para el desarrollo de pequeños proyectos distribuidos y una aplicación de agrupamiento de proteínas<font color="#000000">).</font>
                                                        </p>
                                                        <p style="margin-bottom: 0cm">A partir de este trabajo se originaron los proyectos FUD y Clusterer. &nbsp;&nbsp;</p>
                                                    </div>
                                                </div>

                                                <div class="views-field-field-logro-image-fid">
                                                    <span class="field-content">
                                                    </span>
                                                </div>
                                            </td>
                                            <td class="col-5">

                                                <div class="views-field-field-logro-year-value">
                                                    <span class="field-content">
                                                        <span class="date-display-single">2006</span>
                                                    </span>
                                                </div>

                                                <div class="views-field-field-logro-desc-value">
                                                    <div class="field-content">
                                                      <p>
                                                      <b>Constitución de FuDePAN. </b>
                                                      Luego de lograr reunir los recursos necesarios para la personería jurídica, la fundación nace oficialmente el 17 de Junio del 2006.
                                                      </p>

                                                      <p>
                                                        <b>Presentación al Primer Congreso.</b>
                                                        Continuaron las investigaciones sobre el SIDA y el virus Junín. Los resultados obtenidos fueron presentados en las Jornadas de la Sociedad Argentina de Virología (SAV).
                                                      </p>

                                                    </div>
                                                </div>

                                                <div class="views-field-field-logro-image-fid">
                                                    <span class="field-content">
                                                    </span>
                                                </div>
                                            </td>
                                            <td class="col-6 col-last">

                                                <div class="views-field-field-logro-year-value">
                                                    <span class="field-content">
                                                        <span class="date-display-single">2005</span>
                                                    </span>
                                                </div>

                                                <div class="views-field-field-logro-desc-value">
                                                    <div class="field-content">
                                                        <p>
                                                        <b>1994-2005 Antecedentes</b>
                                                        <b> </b>
                                                        <b>de</b>
                                                        <b> </b>
                                                        <b>FuDePAN.</b>
                                                        <b> </b>El Dr. Daniel Rabinovich y Daniel Gutson trabajaron en simulaciones utilizando como modelo el VIH (Virus de la Inmunodeficiencia Humana) en el Centro de Nacional de Referencia para el SIDA (CNRS) de la Universidad de Buenos Aires (UBA). Luego continuaron trabajando, entre otras cosas, en el análisis de la estructura secundaria del ARN viral y taxonomía numérica de este virus.</p>
                                                        <p style="margin-bottom: 0cm">En 1997 se realizó un proyecto en colaboración con el grupo de Hantavirus del Instituto Nacional de Enfermedades Infecciosas (INEI) de la Administración Nacional de Laboratorios e Institutos de Salud (ANLIS).</p>
                                                    </div>
                                                </div>

                                                <div class="views-field-field-logro-image-fid">
                                                    <span class="field-content">
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>






                        </div>
                        <!-- /.view -->
                    </div>



                </div>
            </div>
            <!-- /.section, /#content -->



            <div class="clearfix">
            </div>

        </div>
    </div>
</div>
{% endblock %}
