{% extends "website/base_fudepan.html" %}

{% block cssextra %}
<link href="/static/css/que_hacemos.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
<div class="page-wrapper">
  <div id="content">
    <div class="section">
      <div id="content-area">
        <div class="clearfix" style="width:1100px">
          <div style="float:left; width:670px">
            <h2 class="pane-title">Qué Hacemos</h2>
            <div>
              <table cellspacing="10" cellpadding="0" border="0">
                <tbody>
                  <tr>
                    <td style="width: 666px; ">
                      <strong>FuDePAN</strong>&nbsp;<font color="#00A99D" style="font-family: arial, sans-serif; font-size: 16px; ">&nbsp;</font>es una ONG en la cual realizamos&nbsp; investigación y desarrollo en bioinformática, aplicándola a problemas biológicos asociados a la salud humana.
                      <p class="p1">Explicado de otra forma, utilizamos la computación para hacer simulaciones y cálculos para, por ejemplo, mejorar vacunas, mejorar tratamiento contra enfermedades como el HIV, o el virus Junín, desarrollando y utilizando herramientas informáticas y programación de avanzada.</p>
                      <div>
                        <img width="518" height="149" style="width: 518px; height: 149px;" src="/static/images/graphic_que.png" alt="">
                      </div>
                      <div>
                        &nbsp;</div>
                      <div>
                        <h3 style="color: #00A69A; size: 16px;">
                          <big>
                            <b>¿Cómo desarrollamos&nbsp;nuestros Proyectos?</b>
                          </big>
                        </h3>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <p>
              <img width="994" height="489" style="width: 994px; height: 489px; padding-top:20px; " src="/static/images/bio-informatika-01.jpg" alt="BioInformática">
              </p>
            </div>

          </div>

          <div style="background:#00A69A;color:#fff;padding:15px;float:left; width:270px">
            <span style="font-size:16px;font-weight:bold;">¿Qué es la Bioinformática?</span>
            <p>La&nbsp;bioinformática, según una de sus definiciones más sencillas, es la aplicación de tecnología de computadoras&nbsp;a la gestión y análisis de datos biológicos.&nbsp;Los términos&nbsp;bioinformática, biología computacional&nbsp;hacen referencia a campos de estudios interdisciplinarios muy vinculados, que requieren el uso o el desarrollo de diferentes técnicas que incluyen informática, matemática aplicada, estadística, ciencias de la computación, inteligencia artificial, química y bioquímica&nbsp;para solucionar problemas, analizar datos, o simular sistemas&nbsp;o mecanismos, todos ellos de índole biológica&nbsp;y usualmente (pero no de forma exclusiva) en el nivel molecular.</p>
          </div>

        </div> <!-- /.zen-one-sidebar-second -->
      </div>
    </div>
  </div>
</div>
{% endblock %}
