{% extends "website/base_fudepan.html" %}

{% block content %}
<div class="section-contacto">
  <div class="column" id="content">
    <div class="section">
      <div id="content-area">
        <div class="panel-2col-stacked clear-block panel-display">
          <div class="center-wrapper">
            <div class="panel-col-first panel-panel">
              <div class="inside">
                <div class="panels_pane panel-pane pane-node">

                <img width="323" height="569" style="width: 323px; height: 569px;"  src="/static/images/Error500.jpg" alt=""; align="right">
                  <div class="pane-content">
                    <div class="node node-type-webform node-promoted build-mode-full clearfix" id="node-143">
                      

                    </div>
                    <!-- /.node -->
                  </div>


                </div>
              </div>
            </div>

            <div class="panel-col-last panel-panel">
              <div class="inside">
                <div class="panels_pane panel-pane pane-block pane-block-5"> </div>
                <div class="panel-region-separator">
                </div>
                <div class="panels_pane panel-pane pane-block pane-block-4">
                 <h3 class="pane-title">&nbsp; </h3>
                 <h3 class="pane-title">&nbsp;</h3>
                 <h3 class="pane-title">ERROR INTERNO. ESTAMOS INTENTANDO SOLUCIONARLO. </h3>
                 <h3 class="pane-title">VUELVA A INTENTAR <br />
                   RECARGAR LA PÁGINA EN UNOS INSTANTES<br />
                <META HTTP-EQUIV="REFRESH" CONTENT="5;URL=http://www.fudepan.org.ar"> 
                   Lo sentimos </h3>
                 <div class="content">
                        <p>Puede contactarnos por correo electrónico, escribiéndonos a <a href="mailto:info@fudepan.org.ar">info@fudepan.org.ar</a>
                        
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
